@import "style/accets/_styleGob";


main{
    width: auto;
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows:10% 30% 30% 30%;
}
.posInput{
    grid-area: 1/1/2/2;
    justify-self: flex-start;
}
.butPos{
    grid-area: 1/1/2/2;
    justify-self:flex-end;
   
}
.selectPos{
    grid-area: 1/2/2/3;
    justify-self: center;
}

.ToDo{
    grid-column: 1;}
.Doing{
    grid-column: 1;}
.Done{
    grid-column: 1;}



@media only screen and(min-width:1024px) {
    main{
        width: 80%;
        display: grid;
        grid-template-columns:33.3% 33.4% 33.3%;
        grid-template-rows: 10% 90%;
    }
    .posInput{grid-area: 1/1/2/2;
    justify-self: center;}
    .butPos{grid-area: 1/1/2/2;
    justify-self: flex-end;}
    .selectPos{grid-area: 1/3/2/4;}
    .ToDo{grid-area: 2/1/3/2;}
    .Doing{grid-area:2/2/3/3;}
    .Done{grid-area:2/3/3/4;}
}